target/
pom.xml.tag
pom.xml.releaseBackup
pom.xlm.versionBackup
pom.xml.next
release.propeties
dependecny-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.settings/
.classpath
.project
# Avoid ignoring Maven wrapper jar file (.jar file are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#INTELLIJ IDEA
# User-specific stuff:
.idea/
.idea/workspace.xml
*.iml
out/

#Serenity
build/